@charset "UTF-8";

body {
	background: #EEE;
}

header {
	background: #FFF;
	width: 75%;
	margin: 0 auto;
	margin-bottom: 1em;
	padding: 1em;
	
	border: thin solid grey;
	border-radius: 4pt;
}

h1 {
	text-align: center;
}

main {
	background: #FFF;
	width: 75%;
	margin: 0 auto;
	padding: 1em;
	
	border: thin solid grey;
	border-radius: 4pt;
}

form.edit {
	text-align: center;
	padding: 1em;
}